@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<nav>
    <ul>
        <li><a href="Aircraft/Index">Aircraft</a></li>
        <li><a href="Airports/Index">Airports</a></li>
        <li><a href="Companies/Index">Companies</a></li>
        <li><a href="Flights/Index">Flights</a></li>
        <li><a href="Layovers/Index">Layovers</a></li>
        <li><a href="ListPassengersFlights/Index">List Passengers Flights</a></li>
        <li><a href="Passengers/Index">Passengers</a></li>
    </ul>
</nav>